<div class="alert alert-dark">
    <div class="alert alert-primary">
        <h2 class="text-center">Add New Employee</h2>
    </div>
    <div class="form">
        <div class="form-group">
            <label for="name" class="col-3">Name</label>
            <input type="text" id="name" placeholder="Enter your name" class="form-control col-6" #name >
        </div>
        <div class="form-group">
            <label for="age" class="col-3">Age</label>
            <input type="text" id="age" placeholder="Enter your age" class="form-control col-6" #age>
        </div>
        <div class="form-group text-center w-50">
            <input type="button" value="Add" class="btn btn-outline-success w-100" (click)="Add()">
        </div>
    </div>
</div>