<!-- <div class="text-center">
    <app-employees></app-employees>
    <app-employee-details></app-employee-details>
    <app-about></app-about>
    <app-error></app-error>
</div> -->
<div class="container">

    <div class="row">
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item"><a [routerLinkActiveOptions]='{exact:true}' routerLink="" routerLinkActive="active">Employees</a></li>
            <li class="list-group-item"><a routerLink="employees/1" routerLinkActive="active">Employee Details</a></li>
            <li class="list-group-item"><a routerLink="about" routerLinkActive="active">About</a></li>
            <li class="list-group-item"><a routerLink="**" routerLinkActive="active">Error</a></li>
        </ul>
    </div>

    <div class="row">
        <router-outlet></router-outlet> 
    </div>
    
</div>
