<div class="align-content-center">

    <div class="input-group mb-3 w-50 ">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Name</span>
        </div>
        <input type="text" class="form-control" [(ngModel)]="name">
    </div>

    <div class="input-group mb-3 w-50">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Age</span>
        </div>
        <input type="text" class="form-control" [(ngModel)]="age">
    </div>

    <div class="input-group mb-3 w-50">
        <input type="button" class="btn btn-outline-success btn-block" value="Add" (click)="Add()">
    </div>

</div>